@import url("./variables.css");
@import url("./fonts.css");

* {
    position: relative;
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    color: var(--font-color-default);
    box-sizing: border-box;
    scroll-behavior: smooth !important;
}

html,
body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh; /* fallback for Js load */
    height: var(--doc-height);
    width: 100%;
    background-color: #4b4b4b;
    /* background-image: url('https://www.publicdomainpictures.net/pictures/130000/nahled/textured-background-1438312728Tsk.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */
    font-size: 20px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.title {
    color: #e6e6e6;
    font-size: 35px;
    margin: 10px;
    font-weight: 500;
    letter-spacing: -4px;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 10px;
}
h6 {
    display: flex;
    font-size: 18px;
    padding: 8px 8px;
}

p {
    padding: 0 var(--horizontal-padding);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.6px;
    line-height: 20px;
    margin-bottom: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    min-width: 100%;
    height: fit-content;
    
    padding: 10px var(--horizontal-padding);

    border-radius: 10px;
    margin-bottom: 20px;
}
.container:last-of-type {
    margin-bottom: 10px;
}

.container__top-area {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.dates-container {
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: end;
    margin-bottom: 10px;
    font-size: 14px;
    padding: 0;
}

.container__description-area {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%; 
    min-height: 40px;
    height: 40px;
    overflow-y: hidden;
    border: 1px solid #363636;
    border-radius: 10px;
    margin-bottom: 30px;
}

.container__more-area {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.eon-container {
    /* background-color: #ffffff33;
    backdrop-filter: blur(2px); */
    background-color: #9b9b9b;
    min-height: 115px;
    height: 115px;
    overflow-y: hidden;
    border-radius: 0;
    margin-bottom: 0;
}
.eon-container:last-of-type {
    margin-bottom: 0;
}

.era-container {
    /* background-color: #ffffff33;
    backdrop-filter: blur(2px); */
    background-color: #afafaf;
    margin-bottom: 40px;
    height: 105px;
    overflow-y: hidden; 
}

#Hadéen {
    background-color: #e057ce;
}
#Archéen {
    background-color: #ff5ea1;
}
#Protérozoïque {
    background-color: #f8597e;
}

#Phanérozoïque {
    background-color: #a2d8f0;
}

#Paléozoïque {
    background-color: #a9c6a8;
}

    #Cambrien {
        background-color: #94ac72;
    }
        #Cambrien > .container__more-area > .container {
            background-color: #b6ca99;
        }
            #Cambrien > .container__more-area > .container > .container__more-area > .container {
                background-color: #d6e2c3;
            }


    #Ordovicien {
        background-color: #4eaa96;
    }
        #Ordovicien > .container__more-area > .container {
            background-color: #7cc2b4;
        }
            #Ordovicien > .container__more-area > .container > .container__more-area > .container {
                background-color: #abd3cb;
            }


    #Silurien {
        background-color: #bfe0cd;
    }
        #Silurien > .container__more-area > .container {
            background-color: #d8f0e2;
        }
            #Silurien > .container__more-area > .container > .container__more-area > .container {
                background-color: #ebf3ef;
            }


    #Dévonien {
        background-color: #d49f51;
    }
        #Dévonien > .container__more-area > .container {
            background-color: #dfb87e;
        }
            #Dévonien > .container__more-area > .container > .container__more-area > .container {
                background-color: #eed7b4;
            }


    #Carbonifère {
        background-color: #6eafb5;
    }
        #Carbonifère > .container__more-area > .container {
            background-color: #9fcccf;
        }
            #Carbonifère > .container__more-area > .container > .container__more-area > .container {
                background-color: #cbe2e4;
            }


    #Permien {
        background-color: #ee765e;
    }
        #Permien > .container__more-area > .container {
            background-color: #e99888;
        }
            #Permien > .container__more-area > .container > .container__more-area > .container {
                background-color: #eec5bd;
            }



#Mésozoïque {
    background-color: #5ac5e9;
}
    #Trias {
        background-color: #bf78c0;
    }
        #Trias > .container__more-area > .container {
            background-color: #dbabdd;
        }
            #Trias > .container__more-area > .container > .container__more-area > .container {
                background-color: #e8c7e9;
            }


    #Jurassique {
        background-color: #0cb8e7;
    }
        #Jurassique > .container__more-area > .container {
            background-color: #69d1ee;
        }
            #Jurassique > .container__more-area > .container > .container__more-area > .container {
                background-color: #aae5f5;
            }


    #Crétacé {
        background-color: #95c562;
    }
        #Crétacé > .container__more-area > .container {
            background-color: #b6db8e;
        }
            #Crétacé > .container__more-area > .container > .container__more-area > .container {
                background-color: #d4ebc0;
            }



#Cénozoïque {
    background-color: #e6d85c;
}

    #Paléogène {
        background-color: #f8ac70;
    }
        #Paléogène > .container__more-area > .container {
            background-color: #ffd1ae;
        }
            #Paléogène > .container__more-area > .container > .container__more-area > .container {
                background-color: #ffe0c8;
            }


    #Néogène {
        background-color: #fede1a;
    }
        #Néogène > .container__more-area > .container {
            background-color: #ffee83;
        }
            #Néogène > .container__more-area > .container > .container__more-area > .container {
                background-color: #fff6bb;
            }


    #Quaternaire {
        background-color: #fff69b;
    }
        #Quaternaire > .container__more-area > .container {
            background-color: #fffac8;
        }
            #Quaternaire > .container__more-area > .container > .container__more-area > .container {
                background-color: #ffffff;
            }

.period-container {
    /* background-color: #ffffff33;
    backdrop-filter: blur(2px); */
    /* background-color: #cccccc; */
    margin-bottom: 30px;
    height: 95px;
    overflow-y: hidden;
}

.serie-container {
    /* background-color: #ffffff33;
    backdrop-filter: blur(2px); */
    /* background-color: #e4e4e4; */
    margin-bottom: 20px;
    height: 90px;
    overflow-y: hidden;
}

.stage-container {
    /* background-color: #ffffff33;
    backdrop-filter: blur(2px); */
    background-color: #ffffff;
    margin-bottom: 10px;
    height: 85px;
    overflow-y: hidden;
}

.clickable {
    cursor: pointer;
}

