@import url("./variables.css");
@import url("./fonts.css");

* {
    position: relative;
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    color: var(--font-color-default);
    box-sizing: border-box;
    scroll-behavior: smooth !important;
}

html,
body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh; /* fallback for Js load */
    height: var(--doc-height);
    width: 100%;
    background-color: #4b4b4b;
    /* background-image: url('https://www.publicdomainpictures.net/pictures/130000/nahled/textured-background-1438312728Tsk.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */
    font-size: 20px;
    overflow-x: hidden;
    overflow-y: scroll;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 10px;
}
h6 {
    display: flex;
    font-size: 18px;
    padding: 8px 8px;
}

p {
    padding: 0 var(--horizontal-padding);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.6px;
    line-height: 20px;
    margin-bottom: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    min-width: 100%;
    height: fit-content;
    
    padding: 10px var(--horizontal-padding);

    border-radius: 10px;
    margin-bottom: 20px;
}
.container:last-of-type {
    margin-bottom: 10px;
}

.container__top-area {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.dates-container {
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: end;
    margin-bottom: 10px;
    font-size: 14px;
    padding: 0;
}

.container__description-area {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%; 
    min-height: 40px;
    height: 40px;
    overflow-y: hidden;
    border: 1px solid #363636;
    border-radius: 10px;
    margin-bottom: 30px;
}

.container__more-area {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.eon-container {
    /* background-color: #ffffff33;
    backdrop-filter: blur(2px); */
    background-color: #9b9b9b;
    min-height: 115px;
    height: 115px;
    overflow-y: hidden;
}

.era-container {
    /* background-color: #ffffff33;
    backdrop-filter: blur(2px); */
    background-color: #afafaf;
    margin-bottom: 40px;
    height: 105px;
    overflow-y: hidden; 
}

.period-container {
    /* background-color: #ffffff33;
    backdrop-filter: blur(2px); */
    background-color: #cccccc;
    margin-bottom: 30px;
    height: 95px;
    overflow-y: hidden;
}

.serie-container {
    /* background-color: #ffffff33;
    backdrop-filter: blur(2px); */
    background-color: #e4e4e4;
    margin-bottom: 20px;
    height: 90px;
    overflow-y: hidden;
}

.stage-container {
    /* background-color: #ffffff33;
    backdrop-filter: blur(2px); */
    background-color: #ffffff;
    margin-bottom: 10px;
    height: 85px;
    overflow-y: hidden;
}

.clickable {
    cursor: pointer;
}

